body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3f3cce;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-image {
    width: 200px;
    border-radius: 25%;
    margin-right: 10px;
}

.navbar a { 
    color: white;
    margin: 0 10px;
    padding: 10px;
    transition: background-color 1s, color 0.3s;
    text-decoration-line: none;
}

.navbar a:hover {
    border-radius: 25%;
    background-color: #292885;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration-line: underline;
}

main {
    padding: 100px 20px 20px 20px;
}

section {
    margin-bottom: 40px;
}

.skill {
    text-align: center;
    margin: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: 150px;
    display: inline-block;
}

.skill img {
    width: 50px;
    vertical-align: middle;
}

.skill p {
    margin: 3px;
    color: #3f3cce;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    color: #5a2e96;
}

.recommendation {
    margin-bottom: 10px;
}

form {
    margin-top: 20px;
}

.recommendation{
    text-align: center;
    margin: 10px;
    border: 2px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    width: auto;
    display: inline-block;
}

#recommendationForm {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

#recommendationForm label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
}

#recommendationForm input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#recommendationForm button {
    background-color: #3f3cce;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 1s;
}

#recommendationForm button:hover {
    background-color: #2e2c96;
}

footer{
    text-align: right;
}

#icon{
    cursor: pointer;
    margin: 30px;
    padding: 10px;
    font-size: 50px;
    background-color: #3f3cce;
    color: rgb(255, 255, 255);
    border-radius: 50%;
}

#icon:hover{
    background-color: #272581;
    color: #dddddd;
    transition: background-color 1s , color 1s;
}

.alert {
    padding: 15px;
    background-color: #f44336; /* Red background color */
    color: white; /* White text color */
    font-size: 18px;
    border-radius: 4px;
    width: 300px; /* Adjust width as needed */
    margin: 20px auto; /* Center horizontally */
    text-align: center; /* Center text */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
}